<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<title>Controller Usage Examples</title>


</head>

<body>
  <h3>This page will simulate all the different ways to start games.</h3>
  Todo:
  <ul>
    <li>Show contribution requests - <b>TBD</b></li>
    <li>Show path select for contribution - <b>TBD</b></li>
    <li>Show problemset select - <b>TBD</b></li>
    <li>Show problems in problemset and contribution location - <b>TBD</b></li>
    <li>Expand a pre-populated form when add problem button is selected.  - <b>TBD</b></li>
    <li>Add a check current solution and show results - <b>TBD</b></li>
    <li>Add buttons to let the contributor move the problem up or down in the play order.  - <b>TBD</b></li>
    <li>Enable contribute button once changes have been made and all tests are passing. - <b>TBD</b></li>
    <li>Show problem as contributed and pending review once contributed. - <b>TBD</b></li>
    <li>Let someone attempt to solve the problem by not providing the solution - <b>TBD</b></li>
    <li>Let players leave comments on the proposed problem. - <b>TBD</b> </li>
    <li>Let players +1 the proposed problem. - <b>TBD</b> </li> 
    <li>Enable the admin to accept and copy the problem at proposed location- <b>TBD</b></li>
  </ul>

  <div ng-controller="PathController" ng-init="list();pathID=10030;get_player_progress();">

 
    <!-- Use the PathController to fill the Path dropdown box-->
    <div>
      There are {{player_progress.paths.length}} paths.<br>
      <div>
        Path <select name="path_select" ng-model="pathID" ng-options="item.id as item.description for item in paths.paths"></select>
        PathID: {{pathID}}<br>
      </div>
      
    </div>

  <div ng-controller="ProblemsetController" ng-init="problemsetID=11021;" >
      <input type="submit" value="Show Problemsets" ng-click="get_problemsets($parent.pathID);"><br>
      parent pathID is {{$parent.pathID}} and {{problemsets.problemsets.length}}<br>
      <div ng-show="problemsets">
        Problemsets for path {{$parent.pathID}}: <br>
        Problemset <select ng-model="problemsetID" ng-options="item.id as item.name for item in problemsets.problemsets"></select><br>
        <div ng-show="problemsetID">
          ProblemsetID: {{problemsetID}} 
          <input type="submit" value="List Problems in Level" ng-click="temp();">
        </div>
      </div>

      <div ng-controller="ProblemController">
          parent problemsetID {{$parent.problemsetID}}
    
          <input type="submit" value="get problems" ng-click="problemsetID=$parent.problemsetID;get_problems();">
          <br>
        The new problem will go at spot {{target}}.<br>
        Show descriptions 
        
        <input type="checkbox" ng-model="showdescription">

        <ol>
          <li ng-repeat="problem in problems.problems">
            {{problem.name}} ({{problem.id}}) <input type="submit" value="insert problem after this one" ng-click="problems.problems.splice($index+1, 0, {'name':'New awesome problem','newproblem':true});"><br>
            <font color="green" ng-show="showdescription">{{problem.description}}</font>
            <div ng-show="problem.newproblem">
              <b>the form will go here</b>
            </div>
          
          </li>
        </ol>

        These are currently the most needed problems. You get a contribution badge for contributing any of these problems.
        <table>
          <tr>
            <th>Path</th>
            <th>Reason</th>
            <th>Add New Problem</th>
          </tr>
          <tr>
            <td>C</td>
            <td>Not enough easy problems</td>
            <td><input type="submit" value="Add problem">
          </tr>
          <tr>
            <td>Python</td>
            <td>Not enough easy problems</td>
            <td><input type="submit" value="Add problem" ng-click="$parent.$parent.pathID=10030;$parent.problemsetID=11021;get_problemsets($parent.pathID);problemsetID=11021;get_problems();target=5;problems.problems.splice(5, 0, 'testing');">
          </tr>
        <table> 

      </div> <!-- problem -->
    </div> <!-- problemset -->
  <div><!-- path -->
  <div ng-controller="PlayerController">
   Player Controller
   <ul>
    <li>Player nickname: {{player.nickname}}</li>
   </ul>
  </div>


  <div ng-controller="InterfaceController">
   Interfaces Controller
   <p>Interfaces Count = {{interfaces.interfaces.length}}</p>
   Available Languages:
    <ul>
      <li ng-repeat="interface in interfaces.interfaces">
          {{interface.name}}
      </li>
    </ul>
  </div>

  <div ng-controller="ProblemController" ng-init="problemsetID=11021;get_progress();get_problems();">
    
    Problems in problemset 11021 with progress ({{progress.currentPlayerProgress}}/{{progress.problemsInProblemset}})

    <ol>
      <li ng-repeat="problem in problems.problems">
        {{problem.name}} ({{problem.id}}) <font color="green" ng-show="problem.solved">solved</font>
      </li>
    </ol>

  </div>

<!-- Nest the PathController DIV in the GameController DIV to lauch games -->

  <div ng-controller="ProblemsetController" ng-init="get_problemsets(10030);">
    Problemsets for path 10030: 
    <ul>
      <li ng-repeat="level in problemsets.problemsets">
        {{level.name}} ({{level.id}}) <input type="submit" value="Play Game On Level" ng-click="create_problemset_game(level.id,3)">
      </li>
    </ul>
    
  </div>
  
  
<script src="../lib/angular/angular.min.js"></script>
<script src="../lib/angular/angular-resource.min.js"></script>
<script src="../js/controllers.js"></script>  
<script src="../js/analytics.js"></script>
<script src="../js/app-config.js"></script>          
<script src="../js/app.js"></script>  
<script src="../js/cookies.js"></script>    
<script src="../../test/app-test.js"></script>    
<script src="../../test/lib/angular/angular-mocks.js"></script>    

</body>
</html>