    <div id="myCarousel" class="carousel slide">      
      <div class="carousel-inner">       
        <div class="item active">          
          <div class="container">      
            <!-- START THE FEATURETTES -->                    
            <br>
            <br>
            <br>
            <br>
            <br>                    
            <!-- /END THE FEATURETTES -->                    
            <div>                                           
              <p>                     
                <div class="row">                      
                  <div class="span7" align = "center">
                    <br>
                    <iframe class="thumbnail" width="600" height="320" src="http://www.youtube.com/embed/ADjIt6ZbqKU" frameborder="0" allowfullscreen>
                    </iframe>
                  </div>                      
                  <div class="span5">                                            
                    <div><h3>What is Singpath?</h3>                                      
                      <hr>                                    
                    </div>                                    
                    <p style="font-family:verdana;color:white">SingPath is the most FUN way to practice software languages! yeah                           SingPath provides a platform to those that want to test their                           programming skills in a competitive and fun environment.                           There is a range of programming languages that you can test                           your skills with including Python, JavaScript, Ruby,                           Objective C and Java with many other languages to come.                           Specialize in one language or show your flexibility and skill                           by coding in multiple languages.What are you waiting for?                           Sign in today and follow your chosen Path!                                     
                    </p>                                                     
                    <div align="right">                          
                      <a class="btn btn-large btn-primary" href="#test">Let me Do it! &raquo;</a>                          
                    </div>                        
                  </div>                         
                </div>                      
                <hr>                  
                <div align="center">                      
                  <input class ="abc" align="center" type="image" src="img/planguage.png" name="image" width="1000" height="55">                  
                </div>                                                          
                <br>                      
                <div id="largeComment" class="row">                      
                  <div class="span4">                        <h4>Comments 1</h4>                        
                    <p color = "white">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                    </p>                        
                    <p>
                      <a class="btn btn-info" href="#about">View details &raquo;</a>
                    </p>                      
                  </div>
                  <!-- /.span4 -->                      
                  <div class="span4">                        <h4>Comments 2</h4>                        
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>                        
                    <p>
                      <a class="btn btn-info" href="#test">View details &raquo;</a>
                    </p>                      
                  </div>
                  <!-- /.span4 -->                      
                  <div class="span4">                        <h4>Comments 3</h4>                        
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                    </p>                        
                    <p>
                      <a class="btn btn-info" href="#contact">View details &raquo;</a>
                    </p>                      
                  </div>
                  <!-- /.span4 -->                    
                </div>
                <!-- /.row -->                  
            </div>                  
            <div id = "mediumComment" class = "tabbable">                      
              <ul id="myTab" class="nav nav-tabs">                        
                <li>
                <a href="#home" data-toggle="tab">Comment 1</a>
                </li>                        
                <li>
                <a href="#profile" data-toggle="tab">Comment 2</a>
                </li>                        
                <li>
                <a href="#messages" data-toggle="tab">Comment 3</a>
                </li>                      
              </ul>                      
              <div class="tab-content" style="font-family:verdana;color:white">                        
                <div class="tab-pane fade in active" id="home">
                  <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                  </p>
                  <p>
                    <a class="btn btn-info" href="#about">View details &raquo;</a>
                  </p>
                </div>                        
                <div class="tab-pane fade in " id="profile">
                  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                  </p>                        
                  <p>
                    <a class="btn btn-info" href="#test">View details &raquo;</a>
                  </p> 
                </div>                          
                <div class="tab-pane fade in " id="messages">
                  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                  </p>                        
                  <p>
                    <a class="btn btn-info" href="#contact">View details &raquo;</a>
                  </p>
                </div>                      
              </div>          
            </div>        
          </div>        
        </div>        
        <div class="item">          
          <div class="container">            
            <div class="carousel-caption">              <h1>One more for good measure.</h1>              
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              </p>              
              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>            
            </div>          
          </div>        
        </div>      
      </div>      
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>      
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>    
    </div>