<br>
<br>

<div id="smallSelectPlay" >
         <div class="container" style="border:1px solid #000000; border-radius: 3px;"><h6 align="center">#1. Select a Path!</h6></div>
		 <div>&nbsp;</div>

	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner" style="position:relative;left:0px">
			<div class="item active">
				<div class="container" >
					<!-- API, App Engine, Beginner Java, Java-->
					<div class="row">
						<div class="span2 ">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="API">                       
								<input type="image" id="smallPathLogo" src="../assets/img/examples/p1.jpg">
							<br>
								 <h6>API</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						<div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="App Engine" >                       
								<input type="image" id="smallPathLogo" src="../assets/img/Path Logo/App Engine.jpg">
							<br>
								 <h6 >App Engine</h6>							 
							</label>
						</div>
											
						<div class="span1">
							&nbsp                       
						</div>
						
						<div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Beginner Java">                       
								<input type="image" id="smallPathLogo" src="../assets/img/Path Logo/Java.png">
							<br>
								 <h6>Beginner Java</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						
						<div class="span 2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Java">
								<input type="image" id="smallPathLogo" src="../assets/img/Path Logo/Java.png">
							<br>
								 <h6> Java</h6>
							</label>
						</div>		
						
					</div>
					<!-- /.row -->
				</div>
			</div>
			<div class="item">
				<div class="container" >
					<!--Beginner Python, Python, Javascript, Objective C -->
					<div class="row">
						<div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Beginner Python">                       
								<input type="image" id="smallPathLogo" src="../assets/img/Path Logo/python.png">
							<br>
								 <h6>Beginner Python</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						
					   <div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Python">                       
								<input type="image" id="smallPathLogo" src="../assets/img/Path Logo/python.png">
							<br>
								 <h6>Python</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						
						<div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Javascript">                       
								<input type="image" id="smallPathLogo" src="../assets/img/Path Logo/Javascript.png">
							<br>
								 <h6>Javascript</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						
						<div class="span 2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Objective C">
								<input type="image" id="smallPathLogo" src="../assets/img/Path Logo/Objective C.png">
							<br>
								 <h6> Objective C</h6>
							</label>
						</div>		
						
					</div>
					<!-- /.row -->
				</div>
			</div>
			<div class="item">
			   <div class="container" >
					<!-- R, R Path, Ruby-->
					<div class="row">
						<div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="R">                       
								<input type="image" id="smallPathLogo" src="../assets/img/Path Logo/R.png">
							<br>
								 <h6>R</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						
					   <div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="R Path">                       
								<input type="image" id="smallPathLogo" src="../assets/img/Path Logo/R Path.jpg">
							<br>
								 <h6>R Path</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						
						<div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Ruby">                       
								<input type="image" id="smallPathLogo" src="../assets/img/Path Logo/Ruby.jpg">
							<br>
								 <h6>Ruby</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						
						<div class="span 2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Objective C">
								<input type="image" id="smallPathLogo" src="../assets/img/Path Logo/Objective C.png">
							<br>
								 <h6> Objective C</h6>
							</label>
						</div>							
					</div>
					
				</div>
			</div>
		</div>
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right " href="#myCarousel" data-slide="next">&rsaquo;</a>
		
	</div>

	<!-- /.carousel -->
	<div class="container marketing">
		<!-- Three columns below the carousel -->
		<div class="row-fluid">
		<div class="span12" >
				<!-- 1. Level -->			
				<div class="span7" style="border:2px solid #000000; border-radius: 3px;;">
				
				<div align="center" style="border-bottom:2px solid #000000; border-radius: 3px;"><h6>#2. Select a Level</h6></div>
				<div align="center" style="border-bottom:2px solid #000000;height:30px; border-radius: 3px;">
					<table class="table table-condensed">
							<tr>
										<th scope="col">Level</th>
										<th scope="col">Topic</th>
										<th scope="col">Progress</th>
										</tr>						
					</table> </div>
				<div style="height:200px; width:565x; overflow:auto;">
					
							<table class="table table-striped">
										<tr>
										<th scope="row">1</th>
										<td>Intro</td>
										<td>Full</td>									
									</tr>
									<tr>
										<th scope="row">2</th>
										<td>Intro</td>
										<td>12/30</td>									
									</tr>
									<tr>
										<th scope="row">3</th>
										<td>Intro</td>
										<td>23/30</td>									
									</tr>
									<tr>
										<th scope="row">2</th>
										<td>Intro</td>
										<td>12/30</td>									
									</tr>
									<tr>
										<th scope="row">3</th>
										<td>Intro</td>
										<td>23/30</td>									
									</tr>
									<tr>
										<th scope="row">3</th>
										<td>Intro</td>
										<td>23/30</td>									
									</tr>
									<tr>
										<th scope="row">2</th>
										<td>Intro</td>
										<td>12/30</td>									
									</tr>
									<tr>
										<th scope="row">3</th>
										<td>Intro</td>
										<td>23/30</td>									
									</tr>
									
							</table>
				
					</div>
				</div>
				
			<!--2. Difficulty -->
				<div class="span3" align="center" style="border:2px solid #000000;border-radius: 3px;">
					<div style="border-bottom:2px solid #000000;" align="center"><h6>#3. Select Difficulty Level</h6></div>
					<div class="btn-group" data-toggle="buttons-radio">
						</br>
						<button type="button" class="btn btn-primary active" id = "smallDifficulty" >Drag & Drop</button> </br></br>
						<button type="button" class="btn btn-primary" id = "smallDifficulty">Easy</button> </br></br>
						<button type="button" class="btn btn-primary" id = "smallDifficulty">Medium</button> </br></br>
						<button type="button" class="btn btn-primary" id = "smallDifficulty">Hard</button></br>
						</br>
					</div>
				</div>
				
				
			<!-- 3. GO -->
				<div class="span2" align = "center">
					<table align="center">
						<tr><td align="center">
						<br><br>
						<!-- <form action="#storyboard"> -->
						<a href="#storyboard">
							<button class="btn btn-primary" style="width:90px; height :70px"><h2>Go!</h2></button>
						</a>
						<!-- </form> -->
						</td></tr>
						<tr><td>
						<br>
							<div align="center"><button class="btn btn-primary" style="width:90px; height :80px"><h6>Revert to Classic</h6></button></div>
						</td></tr>
					</table>
				</div>
				
				
			
		</div>
		</div>
	</div>
</div>
<style>
#smallPathLogo{
	border:5px groove black;
	height:70px;
	width:100px;
}

#largePathLogo{
	border:5px groove black;
	height:100px;
	width:150px;
}


.radio{
    text-align: center;
}

#smallDifficulty{
height: 30px;
width: 100px;
border-radius: 3px;
}

#largeDifficulty{
height: 40px;
width: 170px;
border-radius: 3px;
}


label input[type=radio] {
    opacity: 0;
} 

<!--
#container label {
    display: inline-block;
}-->

</style>
<div id="largeSelectPlay" >
         <div class="container" style="border:2px solid #000000;border-radius: 3px;"><h6 align="center">#1. Select a Path!</h6></div>
		 <div>&nbsp;</div>

	<div id="myCarouselLarge" class="carousel slide">
		<div class="carousel-inner" style="position:relative;left:0px" >
			<div class="item active">
				<div class="container" >
					<!-- API, App Engine, Beginner Java, Java-->
					<div class="row">
						<div class="span2 ">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="API" checked>                       
								<input type="image" id="largePathLogo" src="../assets/img/examples/p1.jpg">
							<br>
								 <h6>API</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						<div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="App Engine" >                       
								<input type="image" id="largePathLogo" src="../assets/img/Path Logo/App Engine.jpg">
							<br>
								 <h6 >App Engine</h6>							 
							</label>
						</div>
												
						<div class="span1">
							&nbsp                       
						</div>
						
						<div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Beginner Java" >                       
								<input type="image" id="largePathLogo" src="../assets/img/Path Logo/Java.png">
							<br>
								 <h6>Beginner Java</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						
						<div class="span 2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Java">
								<input type="image" id="largePathLogo" src="../assets/img/Path Logo/Java.png">
							<br>
								 <h6> Java</h6>
							</label>
						</div>		
						
					</div>
					<!-- /.row -->
				</div>
			</div>
			<div class="item">
				<div class="container" >
					<!--Beginner Python, Python, Javascript, Objective C -->
					<div class="row">
						<div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Beginner Python">                       
								<input type="image" id="largePathLogo" src="../assets/img/Path Logo/python.png">
							<br>
								 <h6>Beginner Python</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						
					   <div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Python">                       
								<input type="image" id="largePathLogo" src="../assets/img/Path Logo/python.png">
							<br>
								 <h6>Python</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						
						<div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Javascript">                       
								<input type="image" id="largePathLogo" src="../assets/img/Path Logo/Javascript.png">
							<br>
								 <h6>Javascript</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						
						<div class="span 2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Objective C">
								<input type="image" id="largePathLogo" src="../assets/img/Path Logo/Objective C.png">
							<br>
								 <h6> Objective C</h6>
							</label>
						</div>		
						
					</div>
					<!-- /.row -->
				</div>
			</div>
			<div class="item">
			   <div class="container" >
					<!-- R, R Path, Ruby-->
					<div class="row">
						<div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="R">                       
								<input type="image" id="largePathLogo" src="../assets/img/Path Logo/R.png">
							<br>
								 <h6>R</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						
					   <div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="R Path">                       
								<input type="image" id="largePathLogo" src="../assets/img/Path Logo/R Path.jpg">
							<br>
								 <h6>R Path</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						
						<div class="span2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Ruby">                       
								<input type="image" id="largePathLogo" src="../assets/img/Path Logo/Ruby.jpg">
							<br>
								 <h6>Ruby</h6>
							</label>
						</div>
						
						<div class="span1">
							&nbsp                       
						</div>
						
						<div class="span 2">
							<label class="radio">
								<input type="radio" name="optionsRadios"  value="Objective C">
								<input type="image" id="largePathLogo" src="../assets/img/Path Logo/Objective C.png">
							<br>
								 <h6> Objective C</h6>
							</label>
						</div>							
					</div>
					
				</div>
			</div>
		
		</div>
		<a class="carousel-control left" href="#myCarouselLarge" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right " href="#myCarouselLarge" data-slide="next">&rsaquo;</a>
		
	</div>


<!-- /.carousel -->
	<div class="container marketing" style="position:relative;">
		<!-- Three columns below the carousel -->
		<div class="row-fluid">
			<div class="span12">
					<!-- 1. Level -->			
					<div class="span7" style="border:2px solid #000000;border-radius: 3px;">
					
					<div align="center" style="border-bottom:2px solid #000000;"><h6>#2. Select a Level</h6></div>
					<div align="center" style="border-bottom:2px solid #000000;height:30px;">
						<table class="table table-condensed">
								<tr>
											<th scope="col">Level</th>
											<th scope="col">Topic</th>
											<th scope="col">Progress</th>
											</tr>						
						</table> </div>
					<div style="height:270px; width:565x; overflow:auto;">
						
								<table class="table table-striped">
											<tr>
											<th scope="row">1</th>
											<td>Intro</td>
											<td>Full</td>									
										</tr>
										<tr>
											<th scope="row">2</th>
											<td>Intro</td>
											<td>12/30</td>									
										</tr>
										<tr>
											<th scope="row">3</th>
											<td>Intro</td>
											<td>23/30</td>									
										</tr>
										
								</table>
					
						</div>
					</div>
					
				<!--2. Difficulty -->
					<div class="span3" align="center" style="border:2px solid #000000;border-radius: 3px;">
						<div style="border-bottom:2px solid #000000;border-radius: 3px;" align="center"><h6>#3. Select Difficulty Level</h6></div>
						<div class="btn-group" data-toggle="buttons-radio">
							</br></br>
							<button type="button" class="btn btn-primary active" id = "largeDifficulty" value="Drag&Drop">Drag & Drop</button> </br></br>
							<button type="button" class="btn btn-primary" id = "largeDifficulty" value="Easy">Easy</button> </br></br>
							<button type="button" class="btn btn-primary" id = "largeDifficulty" value="Medium">Medium</button> </br></br>
							<button type="button" class="btn btn-primary" id = "largeDifficulty" value="Hard">Hard</button></br>
							</br></br>
						</div>
					</div>
					
					
				<!-- 3. GO -->
					<div class="span2" align = "center">
						<table align="center">
							<tr>
								<td align="center">
										<br><br/><br><br/>
											<!-- <form action="#storyboard"> -->
										<a href="#storyboard">
												<button class="btn btn-primary" style="width:150px; height : 80px"><h2>Go!</h2></button>
										</a>
											<!-- </form> -->
								</td>
							</tr>
							<tr><td><br><br></td></tr>
							<tr>
								<td>							
									<div align="center">
										<button class="btn btn-primary" style="width:150px; height :80px">
											<h6>Revert to Classic</h6>
										</button>
									</div>							
								</td>
							</tr>
						</table>
					</div>
									
			</div>			
		</div>
	</div>
</div>

	
