<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div align="center" font-color: #006dcc;>
            <h2>Pick a Story!</h2>
        </div>
        <div class="item active">
            <div class="container">
                <!-- Three columns of text below the carousel -->
                <div class="row">
                    <div class="span4">
                         <h3>Story 1</h3>

                        <input class="img-polaroid" type="image" src="../assets/img/examples/p1.jpg"
                        alt="" height="200">
                        <br>
                    </div>
                    <!-- /.span4 -->
                    <div class="span4">
                         <h3>Story 2</h3>

                        <input class="img-polaroid" type="image" src="../assets/img/examples/p2.jpg"
                        alt="" height="200">
                        <br>
                    </div>
                    <!-- /.span4 -->
                    <div class="span4">
                         <h3>Story 3</h3>

                        <input class="img-polaroid" type="image" src="../assets/img/examples/p3.jpg"
                        alt="" height="200">
                        <br>
                    </div>
                    <!-- /.span4 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <div class="item">
            <div class="container">
                <!-- Three columns of text below the carousel -->
                <div class="row">
                    <div class="span4">
                         <h3>Story 4</h3>

                        <input class="img-polaroid" type="image" src="../assets/img/examples/p4.jpg"
                        alt="" height="200">
                        <br>
                    </div>
                    <!-- /.span4 -->
                    <div class="span4">
                         <h3>Story 5</h3>

                        <input class="img-polaroid" type="image" src="../assets/img/examples/p5.jpg"
                        alt="" height="200">
                        <br>
                    </div>
                    <!-- /.span4 -->
                    <div class="span4">
                         <h3>Story 6</h3>

                        <input class="img-polaroid" type="image" src="../assets/img/examples/p6.jpg"
                        alt="" height="200">
                        <br>
                    </div>
                    <!-- /.span4 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <div class="item">
            <div class="container">
                <!-- Three columns of text below the carousel -->
                <div class="row">
                    <div class="span4">
                         <h3>Story 7</h3>

                        <input class="img-polaroid" type="image" src="../assets/img/examples/p7.jpg"
                        alt="" height="200">
                        <br>
                    </div>
                    <!-- /.span4 -->
                    <div class="span4">
                         <h3>Story 8</h3>

                        <input class="img-polaroid" type="image" src="../assets/img/examples/p8.jpg"
                        alt="" height="200">
                        <br>
                    </div>
                    <!-- /.span4 -->
                    <div class="span4">
                         <h3>Story 9</h3>

                        <input class="img-polaroid" type="image" src="../assets/img/examples/p9.jpg"
                        alt="" height="200">
                        <br>
                    </div>
                    <!-- /.span4 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div> <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>

    <a
    class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!-- /.carousel -->
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="span6">
             <h3>Select a path</h3>

            <div class="row">
                <div class="span3">
                    <input class="img-polaroid" type="image" src="../assets/img/examples/p1.jpg"
                    alt="" height="160">
                    <br>
                    <P>Python</p>
                </div>
                <div class="span3">
                    <input class="img-polaroid" type="image" src="../assets/img/examples/p3.jpg"
                    alt="" height="160">
                    <br>
                    <P>Java</p>
                </div>
            </div>
        </div>
        <!-- /.span4 -->
        <div class="span3">
             <h3>Select a Level</h3>

            <table class="zebra-striped">
                <p><a class="btn" href="#contact">Drag & Drop</a>
                </p>
                <p><a class="btn" href="#contact">Easy</a>
                </p>
                <p><a class="btn" href="#contact">Medium</a>
                </p>
                <p><a class="btn" href="#contact">Hard</a>
                </p>
            </table>
        </div>
        <!-- /.span4 -->
        <div class="span3">
            <br>
            <br>
            <p><a class="btn btn-large btn-primary" href="#contact">Go!</a>
            </p>
            <p><a class="btn btn-large btn-primary" href="#contact">Revert to Classic</a>
            </p>
        </div>
        <!-- /.span4 -->
    </div>
    <!-- /.row -->
</div>