<br>
<br>
<br>
<div id = "smallSelectPlay" class="container" align="center">
    <div>
        <h4>#1. Pick a Story!</h4>
    </div>
    <div class="row">
        <div class="span1"></div>
        <div class="span2"></div>
        <div class="span6">
            <div class="tabbable tabs-below" align="center">
                <div class="tab-content">
                    <div class="tab-pane active" id="l">
                         <h5>A New Hope</h5>

                        <input align="center" class="thumbnails" type="image" src="../assets/img/examples/p1.jpg"
                        alt="" height="178">
                    </div>
                    <div class="tab-pane" id="2">
                         <h5>Empire Strikes Back</h5>

                        <input align="center" class="thumbnails" type="image" src="../assets/img/examples/p2.jpg"
                        alt="" height="178">
                    </div>
                    <div class="tab-pane" id="3">
                         <h5>Return of the Jedi</h5>

                        <input align="center" class="thumbnails" type="image" src="../assets/img/examples/p3.jpg"
                        alt="" height="178">
                    </div>
                    <div class="tab-pane" id="4">
                         <h5>Attack of the Clones</h5>

                        <input align="center" class="thumbnails" type="image" src="../assets/img/examples/p4.jpg"
                        alt="" height="178">
                    </div>
                    <div class="tab-pane" id="5">
                         <h5>The Phantom Menace</h5>

                        <input align="center" class="thumbnails" type="image" src="../assets/img/examples/p5.jpg"
                        alt="" height="178">
                    </div>
                    <div class="tab-pane" id="6">
                         <h5>The Clone Wars</h5>

                        <input align="center" type="image" src="../assets/img/examples/p6.jpg"
                        alt="" height="178">
                    </div>
                    <div class="tab-pane" id="7">
                         <h5>The return of Avengers</h5>

                        <input align="center" class="thumbnails" type="image" src="../assets/img/examples/p7.jpg"
                        alt="" height="178">
                    </div>
                    <div class="tab-pane" id="8">
                         <h5>Galactic Empire</h5>

                        <input align="center"  class="thumbnails" type="image" src="../assets/img/examples/p7.jpg"
                        alt="" height="178">
                    </div>
                    <div class="tab-pane" id="9">
                         <h5>The Phantom Menace</h5>

                        <input align="center" class="thumbnails" type="image" src="../assets/img/examples/p9.jpg"
                        alt="" height="178">
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#l" data-toggle="tab">1</a>

                    </li>
                    <li><a href="#2" data-toggle="tab">2</a>

                    </li>
                    <li><a href="#3" data-toggle="tab">3</a>

                    </li>
                    <li><a href="#4" data-toggle="tab">4</a>

                    </li>
                    <li><a href="#5" data-toggle="tab">5</a>

                    </li>
                    <li><a href="#6" data-toggle="tab">6</a>

                    </li>
                    <li><a href="#7" data-toggle="tab">7</a>

                    </li>
                    <li><a href="#8" data-toggle="tab">8</a>

                    </li>
                    <li><a href="#9" data-toggle="tab">9</a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="span2"></div>
        <div class="span1"></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6" align="center">
                <div>
                    <h5>#2. Select a Path</h5>
                </div>
                <div class="tabbable tabs-right well" align="center">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#lA" data-toggle="tab">Java</a>

                        </li>
                        <li><a href="#lB" data-toggle="tab">Python</a>

                        </li>
                        <li><a href="#lC" data-toggle="tab">ruby</a>

                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="lA">
                            <input align="center" type="image" src="../assets/img/examples/java_logo.png"
                            alt="" height="100">
                        </div>
                        <div class="tab-pane" id="lB">
                            <input align="center" type="image" src="../assets/img/examples/python_logo.png"
                            alt="" height="100">
                        </div>
                        <div class="tab-pane" id="lC">
                            <input align="center" type="image" src="../assets/img/examples/ruby_logo.png"
                            alt="" height="100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6" align="center">
                 <h5>#3. Select a Level</h5>

                <div>
                    <br>
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button type="button" class="btn btn-small btn-info">Drag & Drop</button>
                        <button type="button" class="btn btn-small btn-success">Easy</button>
                        <button type="button" class="btn btn-small btn-warning">Medium</button>
                        <button type="button" class="btn btn-small btn-danger">Hard</button>
                    </div>
                    <br>
                    <br>
                    <!-- /.span4 -->
                    <div align="center">
                         <h5>#4. Let's play</h5>

                        <input type="image" src="../assets/img/examples/Play_Button.png" name="image"
                        height="100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="largeSelectPlay">
         <h4 align="center">#1. Pick a Story!</h4>
         <br>
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <!-- Three columns of text below the carousel -->
                <div class="row">
                    <div class="span2">&nbsp;</div>
                    <div class="span3">

                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">                        <input class="img-polaroid" type="image" src="../assets/img/examples/p1.jpg"
                        alt="" height="200">
                        <br>
                             <h5>A New Hope</h5>

                        </label>
                    </div>
                    <!-- /.span4 -->
                    <div class="span3">

                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                    <input class="img-polaroid" type="image" src="../assets/img/examples/p2.jpg"
                        alt="" height="200">
                        <br>
                             <h5>Empire Strikes Back</h5>

                        </label>
                    </div>
                    <!-- /.span4 -->
                    <div class="span3">

                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                                                    <input class="img-polaroid" type="image" src="../assets/img/examples/p3.jpg"
                        alt="" height="200">
                        <br>
                             <h5>Return of the Jedi</h5>

                        </label>
                    </div>
                    <div class="span1"><br><br><h5>More Stories</h5></div>
                    <!-- /.span4 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <div class="item">
            <div class="container">
                <!-- Three columns of text below the carousel -->
                <div class="row">
                    <div class="span2">&nbsp;</div>
                    <div class="span3">

                       
                        <label class="radio">
                            <input align = "center"type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
                                                    <input class="img-polaroid" type="image" src="../assets/img/examples/p4.jpg"
                        alt="" height="200">
                         <br>
                             <h5>Attack of the Clones</h5>
                        </label>
                    </div>
                    <!-- /.span4 -->
                    <div class="span3">
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">
                                                    <input class="img-polaroid" type="image" src="../assets/img/examples/p5.jpg"
                        alt="" height="200">
                             <h5>The Phantom Menace</h5>

                        </label>
                    </div>
                    <!-- /.span4 -->
                    <div class="span3">

                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios6" value="option6">
                                                    <input class="img-polaroid" type="image" src="../assets/img/examples/p6.jpg"
                        alt="" height="200">
                        <br>
                             <h5>The Clone Wars</h5>

                        </label>
                    </div>
                    <!-- /.span4 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <div class="item">
            <div class="container">
                <!-- Three columns of text below the carousel -->
                <div class="row">
                    <div class="span2">&nbsp;</div>
                    <div class="span3">

                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios7" value="option7">
                                                    <input class="img-polaroid" type="image" src="../assets/img/examples/p7.jpg"
                        alt="" height="200">
                        <br>
                             <h5>The return of Avengers</h5>

                        </label>
                    </div>
                    <!-- /.span4 -->
                    <div class="span3">

                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios8" value="option8">
                                                    <input class="img-polaroid" type="image" src="../assets/img/examples/p8.jpg"
                        alt="" height="200">
                        <br>
                             <h5>Galactic Empire</h5>

                        </label>
                    </div>
                    <!-- /.span4 -->
                    <div class="span3">

                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios9" value="option9">
                                                    <input class="img-polaroid" type="image" src="../assets/img/examples/p9.jpg"
                        alt="" height="200">
                        <br>
                             <h5>The Phantom Menace</h5>

                        </label>
                    </div>
                    <!-- /.span4 -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div> <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>

    <a
    class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!-- /.carousel -->
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="span2">&nbsp;&nbsp;</div>
            <!-- /.span4 -->
            <div class="span3">
                <label class="radio">
                                                        <input style="visibility:hidden" type="radio" name="optionsRadios" id="optionsRadios0" value="option0" >
                 <h4>#2. Select a Path</h4>
                <div class="tabbable tabs-right well">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#LlA" data-toggle="tab">Java</a>
                        </li>
                        <li><a href="#LlB" data-toggle="tab">Python</a>
                        </li>
                        <li><a href="#LlC" data-toggle="tab">ruby</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="LlA">
                            <input align="center" type="image" src="../assets/img/examples/java_logo.png" alt=""
                            height="80">
                        </div>
                        <div class="tab-pane" id="LlB">
                            <input align="center" type="image" src="../assets/img/examples/python_logo.png" alt=""
                            height="80">
                        </div>
                        <div class="tab-pane" id="LlC">
                            <input align="center" type="image" src="../assets/img/examples/ruby_logo.png" alt=""
                            height="80">
                        </div>
                    </div>
                </div>
            </label>
            </div>
            <div class="span3">

                             <label class="radio">
                                                        <input style="visibility:hidden" type="radio" name="optionsRadios" id="optionsRadios0" value="option0" >
             <h4>#3. Select a Level</h4>
              <div class="bs-docs-example">
                <div class="dropdown clearfix">
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
                    <li><a tabindex="-1" >Drag and Drop</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" >Easy</a></li>
                    <li><a tabindex="-1" >Medium</a></li>
                    <li><a tabindex="-1" >Hard</a></li>
                  </ul>
                </div>
              </div>
            </label>
            </div>
        <!-- /.span4 -->
        <div class="span3">
            <h4>#4. Let's play</h4>
            <input type="image" src="../assets/img/examples/Play_Button.png" name="image" height="150">
        </div>
        <!-- /.span4 -->
        <!-- /.row -->
    </div>
</div>
</div>