<br><br><br>
<div class="container">
   <h2>This is a heading</h2>
<p>This is a paragraph.</p>
<p>This is another paragraph.</p>
<button>Click me</button>


    <input type="button" value="set" ng-click="myStyle={color:'red'}">
    <input type="button" value="clear" ng-click="myStyle={}">
    <br/>
    <span ng-style="myStyle">Sample Text</span>
    <pre>myStyle={{myStyle}}</pre>
	
	
	    <form name="myForm" ng-controller="Ctrl">
      <input type="radio" ng-model="color" value="red">  Red </input><br/>
      <input type="radio" ng-model="color" value="green"> Green </input><br/>
      <input type="radio" ng-model="color" value="blue"> Blue </input><br/>
      <tt>color = {{color}}</tt><br/>
     </form>
	 </div>
	 
	 	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">
</script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $("p").hide();
  });
});
</script>